<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- Head, think of things that are more meta or format oriented -->
<head th:replace="fragments/headfile :: head">
    <title>Caesar Cipher</title>
</head>

<body>
<!-- Header of Page, includes Navigation -->
<div th:replace="fragments/header :: header"></div>

<!-- Body defaults to ellipses, details are added by ThymeLeaf layout fragment -->
<div class="lab">
    <h1>Caesar Cipher</h1>
    <form id="caesarForm" action="/cip" method="GET">
        <label for="phrase">Introducing Rot13 but better!   Type in a phrase to decode!</label>
        <input name="phrase" id="phrase" >
        <label for="shift">Add an n value!</label>
        <input name="shift" id="shift" type="number" min="1" max="25" >
        <button>Go!</button>
    </form>
    <p th:each="line: ${cipher}" th:text="${line}"></p>

</div>


<!-- Footer of Page, includes things like contacts or copywrite -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>