<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    ...
</head>

<body>
    <nav th:fragment = "header" class="navbar navbar-expand-lg row-full" style="height: 20%; margin-right: 0; margin-left: 0;">
        <div class="col-4 navcol"><button class="navbutton"><a href="/">Home</a></button></div>
        <div class="col-4 navcol"><button class="navbutton"><a href="/team">Team</a></button></div>
        <div class="col-4 navcol"><button class="navbutton">Test3</button></div>
    </nav>
    <!--implement later-->
</body>
</html>