
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- Head, think of things that are more meta or format oriented -->
<head th:replace="fragments/headfile :: head">
    <title>Contributors</title>
</head>

<body>
<!-- Header of Page, includes Navigation -->
<div th:replace="fragments/header :: header"></div>
<!-- Body of Page, the details of this pages -->
<div class="screen" style="margin: 30px;">
    <h3><a href="/palindrome" rel="noopener noreferrer" class="address">Palindrome</a></h3>

    <h3><a href="/fibonacci" rel="noopener noreferrer" class="address">Fibonacci</a></strong></h3>

    <h3><a href="/rot" rel="noopener noreferrer" class="address">Rot13 Cipher</a></h3>

    <h3><a href="/caesar" rel="noopener noreferrer" class="address">Caesar Cipher</a></h3>

    <h3><a href="/sql/player" rel="noopener noreferrer" class="address">SQL Databases</a></h3>
</div>

<!-- Footer of Page, includes things like contacts or copywrite -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
