<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- Head, think of things that are more meta or format oriented -->
<head th:replace="fragments/headfile :: head">
    <title>Contributors</title>
</head>

<body>
<!-- Header of Page, includes Navigation -->
<div th:replace="fragments/header :: header"></div>

<!-- Body of Page, the details of this pages -->
<div class="screen">
    <h1>Contributors</h1>
    <div class="row-full">
        <figure>
            <img src="https://cdn.discordapp.com/attachments/673358608066543627/811396003109666846/unknown.png" width="200" height="200">
            <figcaption>Vihan Jayaraman
                <br />CP Sweat
            </figcaption>
        </figure>
        <figure>
            <a href="https://tenor.com/view/shaheer-sheikh-abir-yrhpk-yeh-rishtey-hain-pyaar-ke-smile-gif-15981211" target="_blank" rel="noopener noreferrer"><img src="https://cdn.discordapp.com/attachments/673358608066543627/811395827716587541/tiredEyaad.png" width="200" height="200"></a>
            <figcaption>Eyaad Mir
                <br />Ace Attorney Weirdo
            </figcaption>
        </figure>
        <figure>
            <a href="https://cdn.discordapp.com/attachments/297936526438957068/819113685309849610/monke.mp4" target="_blank" rel="noopener noreferrer"><img src="https://media.discordapp.net/attachments/787235941373837332/816202549119156274/unknown.png" width="200" height="200"></a>
            <figcaption>Yasaswi Singamneni
                <br />Scrum Master
            </figcaption>
        </figure>
        <figure>
            <a href="https://media.discordapp.net/attachments/297936526438957068/801189554148999178/unknown.png" target="_blank" rel="noopener noreferrer"><img src="https://cdn.discordapp.com/attachments/673358608066543627/811395764068417576/chadTony.PNG" width="200" height="200"></a>
            <figcaption>Anthony Vo
                <br />Last Game #1 Fan
            </figcaption>
        </figure>
    </div>
</div>

<!-- Footer of Page, includes things like contacts or copywrite -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
