<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- Head, think of things that are more meta or format oriented -->
<head th:replace="fragments/headfile :: head">
    <title>Contributors</title>
</head>

<body>
<!-- Header of Page, includes Navigation -->
<div th:replace="fragments/header :: header"></div>
<div style="text-align: center">
    <p>chqn isykpkry, oqj ahontb xnq srk ytxlw jlbemi, rp? <br />透明アンサー, line 16</p>
</div>
