<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- Head, think of things that are more meta or format oriented -->
<head th:replace="fragments/headfile :: head">
    <title>Contributors</title>
</head>

<body>
<!-- Header of Page, includes Navigation -->
<div th:replace="fragments/header :: header"></div>
<div style="text-align: center">
<img src="https://cdn.discordapp.com/attachments/673358608066543627/811395718392315914/coolguy.PNG" width="100%" height="100%">
</div>



<!-- Footer of Page, includes things like contacts or copywrite -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>