<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- Head, think of things that are more meta or format oriented -->
<head th:replace="fragments/headfile :: head">
    <title>Tactical Apes</title>
</head>

<body>
<!-- Header of Page, includes Navigation -->
<div th:replace="fragments/header :: header"></div>

<!-- Body of Page, the details of this pages -->
<div class="screen" style="margin: 30px;">
    <h1><strong>Tactical Apes Period 1</strong></h1>

    <p class="smalltext">This is the website of the Tactical Apes! It's a little barren right now, but our super cool web developer Anthony Vo is working on adding more stuff!
        <a href="https://github.com/tonyhieu/P1-Tactical-Apes-Site" class="address" target="_blank" rel="noopener noreferrer">Link to Github</a> <img src="https://emoji.gg/assets/emoji/9932_zero_two.gif" width="64px" height="64px" alt="zero_two">
    </p>



    <h3><strong>Journals</strong></h3>
    <ol class="smalltext">
        <li><a href="https://docs.google.com/document/d/1_TAdjjngp_0zO604YmFBRjesVqBiyebn3PxdbbQfVCM/edit?usp=sharing" target="_blank" rel="noopener noreferrer" class="address">Eyaad and Anthony</a></li>
        <li><a href="https://docs.google.com/document/d/1pfqB4SIPHMkJ73QtPpQTaguTV1aGAqH_RgjdxjifUO4/edit?usp=sharing" target="_blank" rel="noopener noreferrer" class="address">Yasaswi and Vihan</a></li>
    </ol>
</div>

<!-- Footer of Page, includes things like contacts or copywrite -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
