<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- Head, think of things that are more meta or format oriented -->
<head th:replace="fragments/headfile :: head">
    <title>Tactical Apes</title>
</head>

<body>
<!-- Header of Page, includes Navigation -->
<div th:replace="fragments/header :: header"></div>

<!-- Body of Page, the details of this pages -->
<div class="screen" style="margin: 30px;">
    <h2><strong>Tactical Apes Period 1</strong></h2>

    <p class="smalltext">This is the website of the Tactical-Apes Scrum Team! Explore our page, try to find hidden easter eggs, play with our labs, and leave your mark on the website by making your own character stored on an SQL Database!
        <a href="https://github.com/tonyhieu/P1-Tactical-Apes-Site" class="address" target="_blank" rel="noopener noreferrer"> Here is a link to the Github Repository</a> <img src="https://emoji.gg/assets/emoji/3812_pepe_thumbsup.gif" width="64px" height="64px" alt="pepe_thumbsup">
    </p>



    <h3><strong>Link to AP CSA Journals</strong></h3>
    <ol class="smalltext">
        <li><a href="https://docs.google.com/document/d/1_TAdjjngp_0zO604YmFBRjesVqBiyebn3PxdbbQfVCM/edit?usp=sharing" target="_blank" rel="noopener noreferrer" class="address">Eyaad and Anthony</a></li>
        <li><a href="https://docs.google.com/document/d/1pfqB4SIPHMkJ73QtPpQTaguTV1aGAqH_RgjdxjifUO4/edit?usp=sharing" target="_blank" rel="noopener noreferrer" class="address">Yasaswi and Vihan</a></li>
    </ol>
</div>

<!-- Footer of Page, includes things like contacts or copywrite -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
